<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

  <div ng-app="myApp" ng-controller="formCtrl">
    <form>
      Pick a topic:
      <input type="radio" ng-model="myVar" value="dogs">Dogs
      <input type="radio" ng-model="myVar" value="tuts">Tutorials
      <input type="radio" ng-model="myVar" value="cars">Cars
    </form>
    
    <div ng-switch="myVar">
      <div ng-switch-when="dogs">
        <h1>Dogs</h1>
        <p>Welcome to a world of dogs.</p>
      </div>
      <div ng-switch-when="tuts">
        <h1>Tutorials</h1>
        <p>Learn from examples.</p>
      </div>
      <div ng-switch-when="cars">
        <h1>Cars</h1>
        <p>Read about cars.</p>
      </div>
    </div>


    <form novalidate>
      First Name:<br>
      <input type="text" ng-model="user.firstName"><br>
      Last Name:<br>
      <input type="text" ng-model="user.lastName">
      <br><br>
      <button ng-click="reset()">RESET</button>
    </form>
    <p>form = {{user}}</p>
    <p>master = {{master}}</p>
  </div>
  
  

  <script>
    var app = angular.module('myApp', []);
    app.controller('formCtrl', function($scope) {
      $scope.firstname = "John";
      $scope.master = {firstName: "John", lastName: "Doe"};
      $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
      };
      $scope.reset();
    });
    </script>

</body>
</html>