<div class="container">

  <div class="row container">
    <div class="col-md-4">

      <h1>N: {{ n }}</h1>

      <div class="form-group">
        <span class="input-group-text" id="n">N:</span>
      </div>
      <input uib-popover="solo numeros enteros positivos" popover-trigger="'focus'" class="form-control" type="number" aria-label="Default" aria-describedby="n" ng-model="n" placeholder="Numero Entero" ng-change="metodo()">
          
    </div>
    <div class="col-md-5">
      <h1>Matriz Random</h1>

      <div class="table-responsive">
        <table class="table table-md table-bordered">
          <tr ng-repeat="x in array track by $index">
            <td ng-repeat="i in x track by $index" >{{ i }}</td>
          </tr>
        </table>
      </div>
      
    </div>
    <div class="col-md-3">
      <h1>Diagonales</h1>
      <ul ng-if="sumad1 > 0 && sumad2 > 0">
        <li>
          Suma diagonal Izquierda: {{ sumad1 }}
        </li>
        <li>
          Suma diagonal Derecha: {{ sumad2 }}
        </li>
        <li>
          El valor absoluto de la diferencia de |{{ sumad1 }} - {{ sumad2 }}| es {{ diferencia }}
        </li>
      </ul>
    </div>
    
  </div>

</div>