<div class="container">
  
  <div class="row">

    <div class="col-md-4">
      
      <h1>N: {{ n }}</h1>

      <div class="form-group">
        <span class="input-group-text" id="n">N:</span>
      </div>
      <input uib-popover="solo numeros enteros positivos" popover-trigger="'focus'" class="form-control" type="number" aria-label="Default" aria-describedby="n" ng-model="n" placeholder="Numero Entero" ng-change="metodo2()">
      
    </div>
    <div class="col-md-8">

      <h1>Numeros Ramdom</h1>
      <div class="row" ng-repeat="x in array" >

        <div class="col-md-6">
          {{ x.a + ' + ' + x.b + ' = ' + x.c }}
        </div>

        <div class="col-md-6">
          <!-- se hace prueba con dos diferentes formas 
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ x.grafica }}%" aria-valuenow="{{ x.grafica }}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          -->

          <uib-progressbar class="progress-striped active" value="x.grafica" type="info">
            {{type}} <i ng-show="true">!!! Grafica !!!</i>
          </uib-progressbar>
        </div>

      </div>

    </div>
    
  </div>

</div>
  
  