<div class="container">
  
  <div class="row">

    <div class="col-md-12 text-center">
      <h4 ng-bind="uno.respuesta"></h4>
    </div>

    <div class="col-md-6">
      <h1>P1 {{ uno.player1.nombre }}</h1>

      <div class="form-group">
        <span class="input-group-text" id="uno.player1.nombre">Name:</span>
      </div>
      <input uib-popover="Pon el nombre del jugador P1"  popover-trigger="'focus'" class="form-control" type="text" aria-label="Default" aria-describedby="uno.player1.nombre" ng-model="uno.player1.nombre" placeholder="Nombre player 1">
      
      <label for="uno.player1.opcion">Select personaje</label>
      <select ng-model="uno.player1.opcion" id="uno.player1.opcion" ng-change="cambiarImagen()" ng-options="x.id as x.name group by x.type for x in personajes" class="form-control"></select>  
      
      <div ng-if="uno.player1.imagen != ''">
        <img src="{{ uno.player1.imagen }}" class="img-thumbnail" alt="no carga">
      </div>

    </div>

    <div class="col-md-6">
      <h1>P2 {{ uno.player2.nombre }}</h1>

      <div class="form-group">
        <span class="input-group-text" id="uno.player2.nombre">Name:</span>
      </div>
      <input uib-popover="Pon el nombre del jugador P2"  popover-trigger="'focus'" class="form-control" type="text" aria-label="Default" aria-describedby="uno.player2.nombre" ng-model="uno.player2.nombre" placeholder="Nombre player 2">
      
      <label for="uno.player2.opcion">Select personaje</label>
      <select ng-model="uno.player2.opcion" id="uno.player2.opcion" ng-change="cambiarImagen()" ng-options="x.id as x.name group by x.type for x in personajes" class="form-control"></select>
    
      <div ng-if="uno.player2.imagen != ''">
        <img src="{{ uno.player2.imagen }}" class="img-thumbnail" alt="no carga">
      </div>
    
    </div>

    <div class="col-md-12">
      <button class="btn" ng-click="jugar()">Jugar</button>
    </div>

  </div>

</div>


